@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.mm-5{
  margin: 0.5em;
}

.pp-5{
  padding: 0.5em;
}

.f-b{
  font-weight: bold;
}

.theme-color{
  color: #F6412F;
}

.second-color{
  color: #A1A1A1;
}

.point:hover{
  cursor: pointer;
}

.center-text{
  text-align: center;
}

form input{
  outline: none;
  border: none;
}

.rule{
  border-color: #F6412F;
}

.open{
  display: block;
}

.close{
  visibility: hidden;
}